* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

.block {
  position: relative;
  margin: 10% auto 0;
  width: 50%;
  height: 400px;
  background: linear-gradient(0deg, black, rgb(44, 38, 38));
  border-radius: 10px;
}

.glow::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(
    45deg,
    #e6fb04,
    #ff6600,
    #ff0066,
    #00ffff,
    #ff00ff,
    #ff0099,
    #6e0dd0,
    #ff3300,
    #099fff
  );
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  filter: blur(10px);
  opacity: 0.5;
  animation: animation 40s linear infinite;
}