* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

.block {
  position: relative;
  margin: 10% auto 0;
  width: 50%;
  height: 400px;
  background: linear-gradient(0deg, black, rgb(44, 38, 38));
  border-radius: 10px;
}
